---
name: Continuous Integration

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - src/**
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - src/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      CONFIGURATION: Release

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 10.0.x

      - name: Restore Packages
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration "$CONFIGURATION" --no-restore

        
